.container.contact__container {
    width: 200px;
    display: grid;
    justify-content: center;

}

.contact__options {
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.contact__option {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    justify-content: center;
}